body {
  font-family: 'lato', sans-serif;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

.data-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #91b3fa;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    position: relative;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 30%;
  }
  .col-3 {
    flex-basis: 15%;
  }
  .col-4 {
    flex-basis: 15%;
  }
  .col-5 {
    flex-basis: 40%;
  }
  
}

.button-container {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }

.button {
    display: inline-block;
    width: 300px;
    height: 35px; 
    margin: 10px; 
    background: #484bf2;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px; 
    text-decoration: none;
  }

.home-body {
    background: url("/static/legislative_background.avif") 50% 50% no-repeat fixed;
  }

.return-button {
  display: inline-block;
  width: 100px;
  height: 25px; 
  margin: 10px; 
  background: #91b3fa;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  line-height: 25px; 
  text-decoration: none;
}


